html,
body {
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE e Edge */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari e Edge */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    background: white;
    box-sizing: border-box;
}

/* ===== TOP BAR ===== */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    background: #004080;
    height: 30rem;
}

.top-bar .logo {
    width: 20%;
    height: auto;
}

.top-bar .buttons {
    width: 15%;
    display: flex;
    gap: 1rem;
}

.top-bar .buttons button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

.top-bar .buttons button:hover {
    background: #ddd;
}

/* ===== IMAGEM FULL WIDTH ===== */
.full-width-image img {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: high-quality;
}

/* ===== TEXTO SOBRE IMAGEM ===== */
.image-text-container {
    position: relative;
    width: 100%;
}

.image-text-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-content {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}



/* ===== BOTÃO VESTIBULAR ===== */
.vestibular-btn {
    background-color: #004080;
    color: white;
    border: none;
    font-size: 10rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: bold;
}

.vestibular-btn:hover {
    background-color: #003f87;
}

/* ===== RODAPÉ ===== */
footer {
    text-align: center;
    padding: 1.5rem;
    background: #004080;
    color: white;
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 48rem) {
    .top-bar {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .top-bar .logo {
        width: 40%;
        margin-bottom: 0.5rem;
    }

    .top-bar .buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .top-bar .buttons button {
        margin: 0.3rem;
    }

    footer {
        font-size: 1.5rem;
    }
}